.table {
    background-color: #7ac496;
}
.bla{
    background: rgb(243,82,247);
    background: linear-gradient(90deg, rgba(243,82,247,1) 0%, rgba(0,219,255,1) 100%);
}
.error {
    text-align: center;
}
.modal {
    box-sizing: border-box;
}