.warrior{
    background-color: #c69b6d;
    selected:"selected"
    }
.paladin{
    background-color: #f48cba;
}
.hunter{
    background-color: #aad372;
}
.rogue{
    background-color: #fff468;
}
.priest{
    background-color: #f0ebe0;
}
.dk{
    background-color: #c41e3b;
}
.shaman{
    background-color: #2359ff;
}
.mage{
    background-color: #68ccef;
}
.warlock{
    background-color: #9382c9;
}
.monk{
    background-color: #00ffba;
}
.druid{
    background-color: #ff7c0a;
}
.dh{
    background-color: #a330c9;
}